//Mobile
@mixin page-header {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

@mixin section-header {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
}

@mixin subheader {
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
}

@mixin body-copy {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}
@mixin labels-buttons {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
}

//Tablet and Desktop
@mixin page-header-td {
    font-size: 34px;
    line-height: 44px;
    font-weight: 700;
}

@mixin section-header-td {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
}

@mixin subheader-td {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
}

@mixin body-copy-td {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
@mixin labels-buttons-td {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
}
