//Mobile
@mixin page-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

@mixin section-header {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
}

@mixin subheader {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 700;
}

@mixin body-copy {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
}
@mixin labels-buttons {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
}

//Tablet and Desktop
@mixin page-header-td {
    font-size: 2.125rem;
    line-height: 2.75rem;
    font-weight: 700;
}

@mixin section-header-td {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
}

@mixin subheader-td {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
}

@mixin body-copy-td {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
}
@mixin labels-buttons-td {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
}
