@use "../../styles/partials/colors";
@use "../../styles/partials/fonts";
@use "../../styles/partials/responsive";
@use "../../styles/partials/sizing";

.Next-Videos {
    &__links {
        text-decoration: none;
    }
    &__video-container {
        display: flex;
        gap: 1rem;
    }
    &__sub-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__image {
        border-radius: 0.25rem;
        width: 7rem;
        height: 4.5rem;
        object-fit: cover;
        display: block;
    }

    &__title {
        margin: 0;
        @include sizing.section-header;
        color: colors.$BrainFlix-Black;
        font-weight: 600;
        display: -webkit-box;
        overflow: hidden; //neccessary for ellipsis
        -webkit-line-clamp: 2; //specifiying the second line to apply ellipsis
        width: 17ch; //charcter unit
        -webkit-box-orient: vertical;
        text-overflow: ellipsis; //applying the dots

        @include responsive.tablet {
            display: block;
            @include sizing.section-header-td;
            font-weight: 600;
            width: auto;
        }
    }
    &__channel {
        margin-top: 0;
        margin-bottom: 0;
        @include sizing.section-header;
        color: colors.$BrainFlix-Black;
        font-weight: 400;

        @include responsive.tablet {
            @include sizing.section-header-td;
            font-weight: 400;
        }
    }
}
