@use "../../styles/partials/colors";
@use "../../styles/partials/fonts";
@use "../../styles/partials/responsive";
@use "../../styles/partials/sizing";

.Next-Videos {
    &__video-container {
        display: flex;
        gap: 1rem;
    }
    &__sub-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__image {
        border-radius: 4px;
        width: 7rem;
        height: 4.5rem;
        object-fit: cover;
        display: block;
    }

    &__title {
        margin: 0;
        @include sizing.section-header;
        color: colors.$BrainFlix-Black;
    }
    &__channel {
        margin-top: 0;
        margin-bottom: 0;
        @include sizing.section-header;
    }
}
