@use "../../styles/partials/colors";
@use "../../styles/partials/fonts";
@use "../../styles/partials/responsive";
@use "../../styles/partials/sizing";

//Use order for flexing the image to its appropriate place
.Header {
    padding: 0 1rem;
    position: relative;
    border-bottom: 1px solid colors.$Mercury;

    @include responsive.tablet {
        padding: 1rem 1.5rem 1rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @include responsive.desktop {
        justify-content: end;
        gap: 2rem;
    }

    &__logo {
        width: 7.5rem;
        height: 1.5625rem;
        margin: 1rem auto;
        display: block;

        @include responsive.tablet {
            margin: 0;
        }
        &--margin-right {
            @include responsive.desktop {
                margin-right: 26.5%;
            }
        }
    }
    &__container {
        display: flex;

        @include responsive.tablet {
            display: flex;
        }
    }
    &__search-bar {
        @include sizing.labels-buttons;
        background-image: url("../../assets/images/Icons/search.svg");
        background-repeat: no-repeat;
        background-position: 0.5rem;
        border: transparent;
        border-radius: 0.25rem;
        margin-bottom: 1rem;
        padding: 0.75rem;
        height: 2.125rem;
        width: 80%;
        border: 0.0625rem solid colors.$Mercury;

        &::placeholder {
            padding-left: 0.9375rem;
            font-family: "AvenirNextTLPro";
            font-weight: 400;
        }
        &:focus {
            outline: none;
            border: 0.0625rem solid colors.$BrainFlix-Blue;
            background-image: none;
            &::placeholder {
                padding: 0;
            }
        }

        @include responsive.tablet {
            width: 35%;
            margin: 0;
            height: 2.5rem;
        }
        @include responsive.desktop {
            width: 20%;
        }
    }

    &__avatar {
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
        margin-left: 1.2rem;
        position: relative;
        top: 0.875rem;

        @include responsive.tablet {
            position: static;
            width: 2.5rem;
            height: 2.5rem;
            order: 4;
            margin-left: 0;
        }
        @include responsive.desktop {
            margin-right: 10%;
        }
    }

    &__button {
        @include sizing.labels-buttons;
        background-image: url("../../assets/images/Icons/upload.svg");
        background-repeat: no-repeat;
        background-position: 0.5rem;
        background-color: colors.$BrainFlix-Blue;
        border: transparent;
        border-radius: 0.25rem;
        color: colors.$White;
        margin-bottom: 1rem;
        width: 100%;
        height: 2.5rem;

        &:hover {
            background-color: colors.$BrainFlix-DarkBlue;
        }
        @include responsive.tablet {
            width: 12.5rem;
            padding: 0 2rem;
            margin: 0;
        }
        @include responsive.desktop {
            width: 9.375rem;
        }
    }
}
