@use "../../styles/partials/colors";
@use "../../styles/partials/fonts";
@use "../../styles/partials/responsive";
@use "../../styles/partials/sizing";

.Videos-Section {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.videos-information {
    padding: 0 1rem;
    @include responsive.tablet {
        padding: 0 1.5rem;
    }
    @include responsive.desktop {
        padding-right: 0;
    }
    &__title {
        color: colors.$BrainFlix-Black;

        @include responsive.tablet {
            margin-bottom: 0;
            @include sizing.page-header-td;
        }
    }
    &__bio {
        display: flex;
        align-items: center;
        border-bottom: 0.0625rem solid colors.$Mercury;
        border-top: 0.0625rem solid colors.$Mercury;
        padding: 1rem 0;
        gap: 2rem;

        @include responsive.tablet {
            justify-content: space-between;
            border-top: transparent;
            padding-top: 0;
            padding-bottom: 0.5rem;
        }
    }
    &__bio-container {
        @include responsive.tablet {
            @include sizing.labels-buttons;
            display: flex;
            align-items: center;
        }
    }
    &__channel {
        margin: 0.5rem 2rem 0 0;
        color: colors.$BrainFlix-Black;
        font-weight: 600;
        @include responsive.tablet {
            @include sizing.labels-buttons-td;
        }
    }
    &__release-date {
        margin: 0.5rem 2rem 0 0;
        color: colors.$Silver;
        font-weight: 400;

        @include responsive.tablet {
            @include sizing.labels-buttons-td;
            font-weight: 400;
        }
    }
    &__container {
        height: 100%;

        @include responsive.tablet {
            margin-top: 1rem;
        }
    }
    &__views-container {
        display: flex;
        align-items: center;
        @include responsive.tablet {
            @include sizing.labels-buttons;
        }
    }
    &__views-img {
        @include responsive.tablet {
            margin-top: 0.3rem;
            margin-left: 1rem;
        }
    }
    &__likes-container {
        display: flex;

        @include responsive.tablet {
            @include sizing.labels-buttons;
        }
        @include responsive.desktop {
            margin-right: 1rem;
        }
    }
    &__likes-img {
        @include responsive.tablet {
            margin-top: 0.3rem;
            margin-left: 2rem;
        }
    }
    &__views-title {
        margin: 0.5rem 0 0 0.5rem;
        color: colors.$Silver;
        font-weight: 400;
    }
    &__likes-title {
        margin: 0.5rem 0 0 0.5rem;
        color: colors.$Silver;
        font-weight: 400;

        @include responsive.tablet {
            @include sizing.labels-buttons-td;
            font-weight: 400;
        }
    }
    &__comment {
        color: colors.$BrainFlix-Black;
        @include sizing.body-copy;

        @include responsive.tablet {
            @include sizing.body-copy-td;
        }
        @include responsive.tablet {
            padding-right: 1rem;
        }
    }
    &__number-of-comments {
        color: colors.$BrainFlix-Black;
        @include sizing.body-copy;
        font-weight: 700;

        @include responsive.tablet {
            margin-top: 3rem;
            margin-bottom: 1rem;
        }
    }
}
