@use "../../styles/partials/colors";
@use "../../styles/partials/fonts";
@use "../../styles/partials/responsive";
@use "../../styles/partials/sizing";

.comments-container {
    display: flex;
    padding-bottom: 1rem;
    margin: 1rem;
    border-bottom: 0.0625rem solid colors.$Mercury;

    @include responsive.desktop {
        &:last-of-type {
            border: none;
        }
    }

    @include responsive.tablet {
        margin: 1.5rem;
    }
    @include responsive.desktop {
        margin-right: 0;
    }
    &__avatar {
        background-color: colors.$Mercury;
        border-radius: 50%;
        height: 2.25rem;
        width: 2.25rem;
        margin-right: 16px;
    }
    &__content {
        width: 84%;

        @include responsive.tablet {
            width: 100%;
        }
        @include responsive.desktop {
            width: 90%;
            margin-left: 1rem;
        }
    }
    &__name-date {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__name {
        @include sizing.subheader;
        margin: 0 0 0.5rem 0;
        color: colors.$BrainFlix-Black;
        font-weight: 600;

        @include responsive.tablet {
            @include sizing.subheader-td;
        }
    }
    &__date-remove {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    &__date {
        @include sizing.subheader;
        margin: 0;
        color: colors.$Mercury;
        font-weight: 400;

        @include responsive.tablet {
            @include sizing.subheader-td;
            font-weight: 400;
        }
        @include responsive.desktop {
        }
    }
    &__remove {
        width: 18px;
        height: 18px;
        @include responsive.tablet {
            width: 25px;
            height: 25px;
        }
        @include responsive.desktop {
            margin-right: 0.5rem;
        }
    }
    &__paragraph {
        @include sizing.body-copy;
        margin: 0;
        color: colors.$BrainFlix-Black;

        @include responsive.tablet {
            @include sizing.body-copy-td;
        }

        @include responsive.desktop {
            margin-right: 0;
            width: 90%;
        }
    }
}
